<!-- A propos Section -->
<section id="apropos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A propos</h2>
                <h3 class="section-subheading text-muted">«Le monde ne sera vraiment heureux que lorsque tous les hommes auront des âmes d’artistes, c’est-à-dire que tous prendront du plaisir à leurs tâches, en comprendront la beauté et la vérité» Auguste Rodin.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p>Je suis Julie Pédeville, 23 ans, et passionée de digital marketing.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consectetur, diam at malesuada aliquet, enim dolor ullamcorper urna, quis consequat ex justo non quam. Cras sollicitudin, turpis eu rutrum iaculis, mauris magna tincidunt tortor, quis bibendum nisi eros sit amet diam. Praesent velit augue, lobortis at ipsum sit amet, lobortis malesuada libero.
                    </p>
                    <p>
                        Nullam et tincidunt erat. Aliquam blandit risus laoreet eros molestie, et sollicitudin ante vestibulum. Nunc scelerisque ligula eu est pretium congue. Curabitur venenatis elit nec est finibus, sit amet luctus ligula gravida. Curabitur et nibh porttitor, placerat massa scelerisque, scelerisque orci.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#competences" class="page-scroll btn btn-xl sr-button">Quelles sont vos compétences ?</a>
            </div>
        </div>
    </div>
</section>