<!-- A propos Section -->
<section id="apropos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A propos</h2>
                <h3 class="section-subheading text-muted"><i class="fa fa-quote-left fa-3x fa-pull-left" aria-hidden="true"></i> «Le monde ne sera vraiment heureux que lorsque tous les hommes auront des âmes d’artistes, c’est-à-dire que tous prendront du plaisir à leurs tâches, en comprendront la beauté et la vérité» Auguste Rodin.</h3>
            </div>
        </div>
        <div class="row">
            <div class="section-p col-sm-9">
                <div>
                    <p>
                        Bonjour, je m’appelle Julie et je suis ravie de partager avec vous mon parcours éducationnel et professionnel !
                    </p>
                    <p>
                        Fraichement diplomée d'un master 2 en Stratégie Commerciale et Développement des Affaires à l'Ipag Business School Paris, j’ai effectué de nombreux stages enrichissants et variés à l’étranger et en France !
                    </p>
                    <p>
                        Que ce soit en vente (B to C), en logistique, en achats ou en marketing digital, cela m’a permis d’appréhender l'environnement de l'entreprise sous différents angles et à travers différentes fonctions et missions toujours plus variées!
                    </p>
                    <p>
                        Ma dernière expérience professionnelle a été un réel déclic car j’ai enfin trouvé la voie dans laquelle je m’épanouie à 100% dans le secteur du Marketing digital !
                    </p>
                </div>
            </div>
            <div class="section-img col-sm-3 timeline-inverted">
                <img src="img/apropos_illustration.svg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#competences" class="page-scroll btn btn-xl sr-button">Quelles sont <br/> vos compétences ?</a>
            </div>
        </div>
    </div>
</section>