<!-- Services Section -->
    <section id="competences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Compétences</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 ico">
                    <span class="fa-stack fa-4x sr-icons ">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expériences à l'international</h4>
                    <p class="text-muted">Parce que s’adapter est important dans un monde aussi changeant</p>
                </div>
                <div class="col-md-4 ico">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Maitrise des outils pack office & digital</h4>
                    <p class="text-muted">Parce que Google Analytics ne me fait pas peur !</p>
                </div>
                <div class="col-md-4 ico">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sens du relationnel</h4>
                    <p class="text-muted">Parce qu’une relation win-win n’a pas de prix !</p>
                </div>
            </div>
            <div class="row text-center">
                <a href="#experiences" class="page-scroll btn btn-xl">Quel est <br/> votre parcours ?</a>

            </div>
        </div>
    </section>