<!-- About Section -->
    <section id="experiences">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mes expériences</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline timeline-notinverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 - 2017</h4>
                                    <h4 class="subheading">IPAG Business School Paris (5 ans)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Découverte du vaste monde des études en école de commerce <br/>
                                        Désormais diplômée d’un Master 2, Stratégie commerciale et développement des affaires</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/darty.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Vente conseil, Darty, commerce de detail (Stage de 4 mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Accompagnement du client du processus d'achat à la vente. Organisation du magasin et des réserves.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline timeline-notinverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/predicast.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Logistique, Precicast, fonderie de precision (Stage de 4 mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vérification des commandes <br/>
                                        Lancement d'ordre de fabrication,<br/>
                                        Prise de contact avec la clientèle et les fournisseurs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/chine.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Semestre universitaire, Yunnan Normal University, Chine (4 Mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Semestre expatriation en Chine dans une université pour étudier le Marketing, Management accounting, l'International Supply Chain Management, les ressources humaines.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline timeline-notinverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/srilanka.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Mission humanitaire, Prem Nevasa orphanage, Sri Lanka (4 Mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Semestre expatriation au Sri Lanka dans un orphelinat.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bel.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Achats Hors Production et responsable (Stage de 6 Mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Achats Sous-Traitance Groupe - Réadaptation la Stratégie Achats Sous-traitance Goupe aux enjeux de croissance<br/>
                                        Achats Hors Production - Correspondant RSE (Responsabilité Sociétale des Entreprises)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline timeline-notinverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dubai.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Marketing Digital, Integral Shopper, UAE, Dubai - (Stage de 6mois + prolongagtion de 3 mois)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Création de jeux promotionnels en ligne <br/>
                                        Suivi et gestion de projets marketing<br/>
                                        Evènementiel et communication<br/>
                                        Recherche et développement de la relation fournisseurs<br/>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <a href="#contact" class="page-scroll">
                                <div class="timeline-image">
                                    <h4>Continuons <br/> cette histoire <br/> ensemble</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>