<!-- About Section -->
<section id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experiences</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline timeline-notinverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Entrée à l'IPAG Buisness School Paris</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Début des études en école de commerce. Spécialisation en 5ème année en commerce international</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/darty.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Stage Darty (3 mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Accompagnement du client du processus d'achat à la vente. Organisation du magasin et des réserves</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline timeline-notinverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/predicast.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Stage Predicast (3 mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Stage Vérification des commandes, lancement d'ordre de fabrication, prise de contact avec la clientèle.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/chine.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Semestre à Yunnan Normal University Chine (4 Mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Au cours de ma 3ème année j'ai effectué un semestre en expatriation en Chine pour étudier le Marketing, Management accounting, l'International Supply Chain Management, les ressources humaines.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline timeline-notinverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/srilanka.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Semestre humanitaire au Sri Lanka (4 Mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Le second semestre de ma 3ème année, je l'ai effectué au Sri Lanka dans un orphelinat où je m'occupais des enfants.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/bel.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016</h4>
                                <h4 class="subheading">Stage Achats Hors Production et sous-traitance (6 Mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Achats Sous-Traitance Groupe et Achats Hors Production - Correspondant RSE (Responsabilité Sociétale des Entreprises)
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline timeline-notinverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../img/about/dubai.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading">Integral Shopper - Dubai - Stage puis emploi (9 mois)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Expérience de 9 mois à Dubai en Digital Marketing à Integral Shopper où j'ai fais de multiples projets avec de grands groupes.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <a href="#contact" class="page-scroll">
                            <div class="timeline-image">
                                <h4>Continuons <br/> cette histoire <br/> ensemble</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>