  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Site web de {{ site.title }}</span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    Template bootstrap initial : <a href="https://github.com/BlackrockDigital/startbootstrap-agency">BlackrockDigital startbootstrap-agency</a> publié sous <a href="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-agency/master/LICENSE">licence MIT</a>.
                </div>
            </div>
        </div>
    </footer>
